.pict-prof {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  &.btn-post {
    font-size: 14px;
    color: rgb(55, 8, 66);
    font-weight: 700;
    padding: 8px 18px;
    border-radius: 15px;
    background-image: linear-gradient(
      to right,
      #403b4a 0%,
      #e7e9bb 51%,
      #403b4a 100%
    );

    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border: transparent;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #eee;

    display: block;
    &:hover {
      background-position: right center; /* change the direction of the change here */
      text-decoration: none;
    }
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: rgb(67, 6, 93);

  &__img-profil {
    // width: 100%;
    max-width: 250px;
    max-height: 150px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
      // width: 100%;
    }
  }
}
.__imgPicture {
  max-width: 150px;
  // background-size: cover;
  // background-position: center;
  // object-fit: cover;
  // object-position: center;
  // margin-bottom: 10px;
}

.content {
  color: rgb(27, 26, 26);
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0;
  font-style: italic;
}

.content-profil {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 18px;
  margin-bottom: 15px;
  & h3 {
    font-style: normal;
    font-size: 24px;
    color: #400d4e;
  }
}

.input {
  width: 300px;
  min-width: 100px;
  margin-bottom: 20px;
  padding: 8px 0 8px 10px;
  border-radius: 15px;
  @media screen and (max-width: 1200px) {
    max-width: 80%;
  }

  &::placeholder {
    color: purple;
    font-size: 18px;
    font-weight: 700;
  }
}
